extends _layout

block title
	title Title here
block meta
	meta(name='description', content="Home")
	meta(name='keywords', content='')

block content
	.main.controls
		.buttons
			.btn-group
				button.btn.btn-default.dropdown-toggle.history(type="button", data-toggle="dropdown") History
				.dropdown-menu(role="menu")
					ol.history
						li No history yet
			button.btn.btn-default.cancel(type="button") Cancel
			button.btn.btn-success.btn-lg.save(type="button") Save

	section.main
		h1.pagetitle Editor 1

		.editContainer1
			.editable
				p Some years ago—never mind how long precisely—having little or no money in my purse, and nothing particular to interest me on shore, I thought I would sail about a little and see the watery part of the world. It is a way I have of driving off the spleen and regulating the circulation. Whenever I find myself growing grim about the mouth; whenever it is a damp, drizzly November in my soul; whenever I find myself involuntarily pausing before coffin warehouses, and bringing up the rear of every funeral I meet; and especially whenever my hypos get such an upper hand of me, that it requires a strong moral principle to prevent me from deliberately stepping into the street, and methodically knocking people's hats off—then, I account it high time to get to sea as soon as I can. This is my substitute for pistol and ball. With a philosophical flourish Cato throws himself upon his sword; I quietly take to the ship. There is nothing surprising in this. If they but knew it, almost all men in their degree, some time or other, cherish very nearly the same feelings towards the ocean with me.

		h1.pagetitle Editor 2

		.editContainer2
			.editable
				p This is another paragraph.  Is it modular???
	#addLink.modal.fade
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
					h4.modal-title Add Link
				.modal-body
					input#linkInput(type="url", placeholder="http://")
				.modal-footer
					button(type="button", class="btn btn-default cancel") Cancel
					button(type="button", class="btn btn-primary save") Add Link
