extends _layout

block title
	title Title here
block meta
	meta(name='description', content="Home")
	meta(name='keywords', content='')

block content
	.main.controls
		.buttons
			.btn-group
				button.btn.btn-default.dropdown-toggle.history(type="button", data-toggle="dropdown") History
				.dropdown-menu(role="menu")
					li No history yet
			button.btn.btn-default.cancel(type="button") Cancel
			button.btn.btn-success.btn-lg.save(type="button") Save

	section.main
		h1.pagetitle Page title

		.editContainer
			.editable(contenteditable="true")
				p.unedited [add text here]
				.addPlaceholder(contenteditable="false")
					.addButton
						button.btn.btn-default.add-item.fa.fa-plus(type="button") Add
					.addBar
						.btn-group
							//button.btn.btn-lg.btn-primary.add-image.fa.fa-picture-o(type="button") Image
							//button.btn.btn-lg.btn-primary.add-video.fa.fa-film(type="button") Video
							//button.btn.btn-lg.btn-primary.add-audio.fa.fa-headphones(type="button") Audio
							button.btn.btn-lg.btn-primary.add-h1.fa(type="button") h1
							button.btn.btn-lg.btn-primary.add-h2.fa(type="button") h2
							//button.btn.btn-lg.btn-primary.add-quote.fa.fa-quote-right(type="button") Blockquote
							button.btn.btn-lg.btn-primary.add-olist.fa.fa-list-ol(type="button") Ordered List
							button.btn.btn-lg.btn-primary.add-ulist.fa.fa-list-ul(type="button") Unordered List
			.textEditBar
				.btn-group
					button.btn.btn-primary.add-bold.fa.fa-bold(type="button") Bold
					button.btn.btn-primary.add-italic.fa.fa-italic(type="button") Italic
					button.btn.btn-primary.add-link.fa.fa-link(type="button", data-toggle="modal", data-target="addLink") Link
	#addLink.modal.fade
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
					h4.modal-title Add Link
				.modal-body
					input#linkInput(type="url", placeholder="http://")
				.modal-footer
					button(type="button", class="btn btn-default cancel") Cancel
					button(type="button", class="btn btn-primary save") Add Link
